* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: violet;
  overflow: auto;
}

.left {
  float: left;
  width: 19.05%;
  height: 99%;
  background-color: rgb(143, 110, 62);
  /* less brown */
  overflow: auto;
  border-style: ridge;
  border-color: teal;
}

.right {
  float: right;
  width: 80%;
  height: 99%;
  background-color: rgb(63, 116, 146);
  /* ligther blue */
  overflow: auto;
  border-style: ridge;
  border-color: tomato;
}

#menu-title {
  text-align: center;
  font-weight: bold;
  border-style: groove;
  border-color: rgb(80, 77, 77);
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: khaki;
  font-size: 2rem;
  font-family: 'Dekko';
}

#fem-title {
  text-align: center;
  font-weight: bold;
  border-style: groove;
  border-color: rgb(80, 77, 77);
  padding-top: .5%;
  padding-bottom: 0%;
  background-color: rgb(128, 123, 173);
  font-size: 2rem;
  font-family: 'Dekko';
}

.menu-item {
  text-align: center;
  font-weight: bold;
  border-style: groove;
  border-color: rgb(80, 77, 77);
  padding-top: .5%;
  padding-bottom: 0%;
  background-color: rgb(111, 192, 224);
  font-size: 2rem;
  font-family: 'Dekko';
}

.expand {
  text-align: center;
  font-weight: bold;
  border-style: groove;
  border-color: rgb(80, 77, 77);
  padding-top: .5%;
  padding-bottom: 0%;
  background-color: rgb(76, 167, 202);
  font-size: 2rem;
  font-family: 'Dekko';
}

#mat-props {
  width: 80%;
  height: 5%;
  font-size: 1.25rem;
  text-align: left;
  margin-left: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 3.5%;
}

#mat-prop-but {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  text-align: left;
}

#form-cont {
  margin-left: 80%;
  margin-right: 1%;
  margin-top: 2%;
  border-style: ridge;
  border-color: lawngreen;
  background-color: rgb(236, 229, 159);
  font-family: 'Dekko';
  font-size: 1.2rem;
  text-align: center;
}

#youngs-mod, #possion {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#youngs-mod {
  margin-bottom: 10%;
}

#mat-submit {
  border-style: ridge;
  border-color: rgb(126, 128, 235);
  width: 70%;
  background-color: rgb(174, 230, 129);
  font-family: 'Dekko';
  font-size: 1.2rem;
  margin-top: 10%;

}